*{padding: 0px;
  margin: 0px;}
header{background-color: #eeeae9;
      text-align: center;}
header img{max-width: 1280px;
           height: 150px;
           width: 100%;}
.hang{clear: both;
      width: 100%;
	  height: 10px;
	  background-color: white;
	  }
#header{width: 100%;height: 50px;
       background-color: rgb(235,235,235);
       position: relative;
       z-index: 1;
       }
#head{height: 50px;
     width: 743px;
     margin: 0px auto;
     } 
#nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7{
     float: left;
     width: 100px;
     height: 50px;
     margin-left: 5px;
     }
     #head ul li{display: none;
      height: 50px;
      width: 100px;
      font-size: 20px;
      line-height: 50px;
      font-weight: bold;
      text-align: center; 
      border: 1px solid red;
      border-radius: 5px;
      background-color: rgb(235,235,235);
      }
      ul li a{color: black;
             }
      ul li a:hover{color: blue;}
      li a:hover{display: block;
            background-color: #4d94ec;
            height: 50px;
            width: 100px;
            color: black;
            border-radius: 5px;
            }

@media screen and (max-width: 743px){
  #head{height: 50px;
     width: 100%;
     margin: 0px auto;
     } 
      #nav1,#nav2,#nav3,#nav4,#nav5,#nav6,#nav7{
     float: left;
     width: 14%;
     height: 50px;
     margin: 0px;
     padding: 0px;
     }
    #head ul li{float: left;
      display: none;
      height: 50px;
      width: 100%;
      color: black;
      font-weight: bold;
      font-size: 3vw;
      line-height: 50px;
      text-align: center; 
      border: 1px solid red;
      margin: 0px;
      padding: 0px;
      background-color: rgb(235,235,235);
      }
      li a:hover{display: block;
            background-color: #4d94ec;
            height: 50px;
            width: 100%;
            font-size: 3vw;
            color: black;
            border-radius: 5px;
            }
     }
ul li a{text-decoration: none;}
#head ul .clear{display: block;}
#nav1:hover #list1 li{display: block;}
#nav2:hover #list2 li{display: block;}
#nav3:hover #list3 li{display: block;}
#nav4:hover #list4 li{display: block;}
#nav5:hover #list5 li{display: block;}
#nav6:hover #list6 li{display: block;}
#nav7:hover #list7 li{display: block;}

#run{height: 70px;
     width: 100%;
     text-align: center;
     line-height: 70px;
     font-size: 50px;
     font-family: "华文行楷";
     position: relative;
     z-index: -1;
     background-color: rgb(50,151,239);}

@media screen and (max-width: 1221px){
	.htmleaf-container{display: none;}
	#dong{text-align: center;
	      padding-top:10px;}
	#dong img{width: 99%;
		      max-width: 1210px;
		      margin: 0px;
		    }
}
@media screen and (min-width: 1222px){
	        #dong{display: none;}
}

@media screen and (min-width: 1201px){
.content{max-width: 1200px;
         width: 100%;
         height: 100%;
         max-height: 466px;
         margin: 0px auto;
         text-align: center;}
.content1 img{width: 100%;
              max-width: 700px;}
.content1{float: left;
          width: 50%;
          margin-top: 20px;}
.content2{float: left;
          width: 50%;
          font-size: 23px;
          font-family: "黑体"；
          color:black;
          text-align: left;
          padding: 40px 0px 0px 20px;
          }
.content2 h3{text-align: center;}

}
@media screen and (max-width: 1200px){
  .content{
           width: 100%;
           text-align: center;}
.content1 {width: 50%;
          float: left;
          max-width: 700px;
          padding: 10px 10px 0px 10px;}
.content1 img{width: 100%;}
.content2{
          font-size: 23px;
          font-family: "黑体"；
          color:black;
          text-align: left;
          padding: 10px 0px 0px 20px;
          }
.content2 h3{text-align: center;}

}


.box{text-align: center;
     width: 1050px;
     height: 180px;
     text-align: center;
     border: 1px solid rgb(235,235,235);
     margin: 0 auto;}
.box1{text-align: center;
      font-weight: bold;
      color: red;
      line-height:180px;
     }
.box2{margin-top: 15px;}
.box1,.box2,.box3{float: left;}
@media screen and (max-width: 1080px){
  .box{display: none;}

}

#foot{clear: both;
      width: 100%;
      background-color: rgb(235,235,235);
      text-align: center;
      line-height: 50px;
      }

 .box2 img{transition:1s;/*变化持续时间*/} 
.box2 img:hover{
           transform:scale(1.5);/*放大1.5倍*/
           -webkit-transform:scale(1.5);
           -moz-transform:scale(1.5);
           box-shadow: 10px 15px 15px #ccc;/*阴影右和上要用-；以上设置了左和下的阴影以及距离和颜色*/
          } 





